/* Basic */

// MSIE: Required for IEMobile.
@-ms-viewport {
  width: device-width;
}

// MSIE: Prevents scrollbar from overlapping content.
body {
  -ms-overflow-style: scrollbar;
}

// Ensures page width is always >=320px.
@include breakpoint('<=xsmall') {
  html,
  body {
    min-width: 320px;
  }
}

// Set box model to border-box.
// Based on css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.main-body {
  overflow: hidden;
  position: relative;
  &::before {
    content: ' ';
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    will-change: transform;
    background-color: _palette(bg);
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.35) 60%,
        rgba(255, 255, 255, 0.35) 100%
      ),
      url('../images/shifaaz-shamoon-okVXy9tG3KY-unsplash.jpg') no-repeat top
        center;

    background-size: cover;
    z-index: -1;
    // background-attachment: fixed, fixed;
    // background-position: top, center;
    // background-size: cover;
    // min-height: 100vh;
    // background-repeat: no-repeat;
  }

  // Stops initial animations until page loads.
  &.is-preload {
    *,
    *:before,
    *:after {
      @include vendor('animation', 'none !important');
      @include vendor('transition', 'none !important');
    }
  }
}
