/* Type */

body,
input,
select,
textarea {
  color: _palette(fg);
  font-family: _font(family);
  font-size: 14pt;
  font-weight: _font(weight);
  line-height: 1.65;

  @include breakpoint('<=xlarge') {
    font-size: 14pt;
  }

  @include breakpoint('<=large') {
    font-size: 12pt;
  }

  @include breakpoint('<=medium') {
    font-size: 12pt;
  }

  @include breakpoint('<=small') {
    font-size: 12pt;
  }

  @include breakpoint('<=xsmall') {
    font-size: 12pt;
  }
}

a {
  @include vendor(
    'transition',
    'color #{_duration(transition)} ease-in-out, border-bottom-color #{_duration(transition)} ease-in-out'
  );
  border-bottom: dotted 1px _palette(fg-light);
  color: _palette(fg);
  text-decoration: none;

  &:hover {
    border-bottom-color: transparent;
    color: _palette(fg-bold) !important;
  }

  &.special:not(.button) {
    @include icon;
    border-bottom: 0;
    display: block;
    font-family: _font(family-heading);
    font-size: 0.8em;
    font-weight: _font(weight-heading-bold);
    letter-spacing: _font(kern-heading);
    margin: 0 0 _size(element-margin) 0;
    text-transform: uppercase;

    &:before {
      @include vendor(
        'transition',
        'background-color #{_duration(transition)} ease-in-out'
      );
      border-radius: 100%;
      border: solid 2px _palette(border);
      content: '\f105';
      display: inline-block;
      font-size: 1.25em;
      height: 2em;
      line-height: 1.65em;
      margin-right: 0.85em;
      text-align: center;
      text-indent: 0.15em;
      vertical-align: middle;
      width: 2em;
    }

    &:hover {
      &:before {
        background-color: _palette(border-bg);
      }
    }

    &:active {
      &:before {
        background-color: _palette(border2-bg);
      }
    }
  }
}

strong,
b {
  color: _palette(fg-bold);
  font-weight: _font(weight-bold);
}

em,
i {
  font-style: italic;
}

p {
  margin: 0 0 _size(element-margin) 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: _palette(fg-bold);
  font-family: _font(family-heading);
  font-weight: _font(weight-heading-bold);
  letter-spacing: _font(kern-heading);
  margin: 0 0 (_size(element-margin) * 0.5) 0;

  a {
    color: _palette(fg);
    text-decoration: none;
    border-bottom: 0;
  }

  span {
    font-weight: _font(weight-heading);
  }

  &.major {
    padding-bottom: 1em;
    border-bottom: solid 2px _palette(border);
  }
}

h1,
h3 {
  text-transform: uppercase;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
}

.brand {
  font-family: 'Liu Jian Mao Cao', Helvetica, Arial, sans-serif;
  font-weight: _font(weight-heading-bold);
  letter-spacing: _font(kern-heading);
  text-transform: none;
}

.brand-title {
  font-size: 3.5rem;
  margin-top: 5rem;
  margin-bottom: 7rem;
  text-shadow: 2px 0px 0px rgba(255, 255, 255, 0.5),
    0px -2px 0px rgba(255, 255, 255, 0.5), -2px 0px 0px rgba(255, 255, 255, 0.5),
    0px 2px 0px rgba(255, 255, 255, 0.5);
}

.navbar-heading {
  font-size: 1.6em;
  margin: 0;
  border-bottom: none;
}

.article-body {
  background-color: transparentize(#fff, 0.2);
  padding: 4vw;
  overflow: hidden;
}

.main-heading {
  background: rgba(255, 255, 255, 0.8);
  color: black;
  display: inline-block;
  padding: 20px 4vw;
  display: inline-block;
  margin-bottom: 3em;
}

@media screen and (min-width: 1000px) {
  .article-body {
    padding: 30px 15vw;
    width: 100%;
  }
  .main-heading {
    padding: 0 20px 0 15vw;
    max-width: 85vw;
  }
}

@media screen and (min-width: 1200px) {
  .article-body {
    padding: 30px 20vw;
  }
  .main-heading {
    padding: 0 20px 0 20vw;
    max-width: 80vw;
  }
}

h1,
h2,
h3 {
  font-weight: normal;
}

@include breakpoint('<=small') {
  h1 {
    font-size: 1.6em;
  }
  h2 {
    font-size: 1.4em;
  }
  .brand-title {
    font-size: 2.4rem;
    margin-top: 10rem;
    margin-bottom: 7rem;
  }
}

sub {
  font-size: 0.8em;
  position: relative;
  top: 0.5em;
}

sup {
  font-size: 0.8em;
  position: relative;
  top: -0.5em;
}

blockquote {
  border-left: solid 4px _palette(border);
  font-style: italic;
  margin: 0 0 _size(element-margin) 0;
  padding: (_size(element-margin) / 4) 0 (_size(element-margin) / 4)
    _size(element-margin);
}

code {
  background: _palette(border-bg);
  border-radius: _size(border-radius);
  border: solid 2px _palette(border);
  font-family: _font(family-fixed);
  font-size: 0.9em;
  margin: 0 0.25em;
  padding: 0.25em 0.65em;
}

pre {
  -webkit-overflow-scrolling: touch;
  font-family: _font(family-fixed);
  font-size: 0.9em;
  margin: 0 0 _size(element-margin) 0;

  code {
    display: block;
    line-height: 1.75em;
    padding: 1em 1.5em;
    overflow-x: auto;
  }
}

hr {
  border: 0;
  border-bottom: solid 2px _palette(border);
  margin: (_size(element-margin) * 1.25) 0;

  &.major {
    margin: (_size(element-margin) * 2) 0;
  }
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}
