@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
@import 'libs/html-grid';
@import 'font-awesome.min.css';

// Breakpoints.

@include breakpoints(
  (
    xlarge: (
      1281px,
      1680px,
    ),
    large: (
      981px,
      1280px,
    ),
    medium: (
      737px,
      980px,
    ),
    small: (
      481px,
      736px,
    ),
    xsmall: (
      361px,
      480px,
    ),
    xxsmall: (
      null,
      360px,
    ),
  )
);

// Base.

@import 'base/reset';
@import 'base/page';
@import 'base/typography';

// Component.

@import 'components/row';
@import 'components/section';
@import 'components/form';
@import 'components/box';
@import 'components/icon';
@import 'components/image';
@import 'components/list';
@import 'components/actions';
@import 'components/icons';
@import 'components/contact';
@import 'components/pagination';
@import 'components/table';
@import 'components/button';
@import 'components/features';

// Layout.

@import 'layout/banner';
@import 'layout/wrapper';
@import 'layout/footer';
@import 'layout/menu';

/*------------ Variables -----------*/

$brandprimary: #d96528;
$brandsecondary: #03c1c1;

/*------------  Global   -----------*/

body {
  // border: 10px solid #ccc;
  height: auto !important; /* real browsers */
  height: 100%; /* IE6: treaded as min-height*/
  min-height: 100%; /* real browsers */
  min-height: 100vh;
  line-height: 1.6;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.blogs-all {
  li {
    width: 100%;
  }
}

@media screen and (max-width: 999px) {
  .featured-block {
    li {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@media screen and (min-width: 1000px) {
  .hidden-mobile {
    display: none;
  }
}

@media screen and (max-width: 999px) {
  .hidden-desktop {
    display: none;
  }
}

main {
  color: _palette(body-text);
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

a.btn {
  text-decoration: none;
  border-bottom: none;
}

button {
  cursor: pointer;
  color: black;
  font-weight: 700;
  transition: 0.3s all ease;
}

button.purchase {
  background: $brandprimary;
  color: white;
  font-size: 16px;
  border: none;
  &:hover {
    background: lighten(saturate($brandprimary, 80%), 13%);
  }
}

button.pay-with-stripe {
  background: black;
  color: white !important;
  font-size: 16px;
  border: none;
  &:hover {
    background: $brandprimary;
  }

  &:disabled {
    background: #999;
  }
}

.price {
  color: $brandprimary;
  font-size: 20px;
  margin: 5px 0;
  font-weight: bold;
  margin-bottom: 15px;
}

.checkout-circle {
  width: 80px;
  height: 80px;
  border-radius: 1000px;
  border: 1px solid #ccc;
  padding-top: 21px;
  color: #555;
  font-size: 1.5rem;

  &.active {
    background: $brandprimary;
    border: 1px solid $brandprimary;
    color: white;
  }
}

.checkout-title {
  margin-top: 20px;
  color: #555;
  font-size: 1.2rem;
}

.remove {
  cursor: pointer;
}

hr {
  margin: 30px 0;
}

label {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.1em;
  margin-top: 20px;
  display: inline-block;
}

input {
  font-size: 16px;
  padding: 5px 10px;
}

.center {
  text-align: center;
}

/*------------  Store Grid   -----------*/

.storegrid {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 0px;
  h3 {
    font-size: inherit;
    font-weight: bold;
    text-transform: none;
    text-align: center;
    margin: 0;
  }
}

.img-contain {
  display: flex;
  align-content: center;
  align-items: center;
  img {
    width: 100%;
  }
}

/* no grid support */
aside {
  float: left;
  width: 19.1489%;
}

.content {
  /*no grid support*/
  float: right;
  width: 79.7872%;
  /* grid */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 0 !important;
}

.max {
  float: right;
}

@media (max-width: 600px) {
  aside {
    width: 100% !important;
    margin-bottom: 10px !important;
  }

  .content {
    width: 100% !important;
    grid-template-columns: 1fr !important;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .content {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media screen and (max-width: 550px) {
  .storegrid {
    width: 90%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
  }
}

/* --- items animation --- */

.items-leave-active {
  transition: opacity 0.2s ease-out, scale 0.2s ease-out;
}

.items-move {
  transition: opacity 0.2s ease-out, scale 0.2s ease-out;
}

.items-enter-active {
  transition: opacity 0.2s ease-out, scale 0.2s ease-out;
}

.items-enter,
.items-leave-to {
  opacity: 0;
  transform: scale(0.9);
  transform-origin: 50% 50%;
}

/* --- range --- */

input[type='range'].slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 25px 0 5px;
}

input[type='range'].slider:focus {
  outline: none;
}

input[type='range'].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 4.3px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: $brandprimary;
  border-radius: 13.7px;
  border: 0px solid rgba(1, 1, 1, 0);
}

input[type='range'].slider::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 62, 0), 0px 0px 0px rgba(0, 0, 88, 0);
  border: 1.9px solid $brandprimary;
  height: 17px;
  width: 17px;
  border-radius: 31px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.35px;
}

input[type='range'].slider:focus::-webkit-slider-runnable-track {
  background: $brandprimary;
}

input[type='range'].slider::-moz-range-track {
  width: 100%;
  height: 4.3px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: $brandprimary;
  border-radius: 13.7px;
  border: 0px solid rgba(1, 1, 1, 0);
}

input[type='range'].slider::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 62, 0), 0px 0px 0px rgba(0, 0, 88, 0);
  border: 1.9px solid $brandprimary;
  height: 17px;
  width: 17px;
  border-radius: 31px;
  background: #ffffff;
  cursor: pointer;
}

input[type='range'].slider::-ms-track {
  width: 100%;
  height: 4.3px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type='range'].slider::-ms-fill-lower {
  background: $brandprimary;
  border: 0px solid rgba(1, 1, 1, 0);
  border-radius: 27.4px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}

input[type='range'].slider::-ms-fill-upper {
  background: $brandprimary;
  border: 0px solid rgba(1, 1, 1, 0);
  border-radius: 27.4px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}

input[type='range'].slider::-ms-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 62, 0), 0px 0px 0px rgba(0, 0, 88, 0);
  border: 1.9px solid $brandprimary;
  height: 17px;
  width: 17px;
  border-radius: 31px;
  background: #ffffff;
  cursor: pointer;
  height: 4.3px;
}

input[type='range'].slider:focus::-ms-fill-lower {
  background: $brandprimary;
}

input[type='range'].slider:focus::-ms-fill-upper {
  background: $brandprimary;
}

// blog styles
